#highScoresList{
    list-style: none;
    padding-left: 0;
    margin-bottom: 4rem;
    width: 30%;
}

.high-score{
    border: 4px solid #f8d106;
    background-color: black;
    color: #f8d106;
    font-size: 2.4rem;
    padding:.5rem;
    margin-bottom: 0.5rem;
    border-radius: 8px;
    text-align: center;
}

.high-score:hover {
    transform: scale(1.025);
    font-style: italic;
}